@import url(https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css);
@import url(https://fonts.googleapis.com/css2?family=Klee+One:wght@600);

html {
 line-height:1.5em;
}

body {
    font-family: "LXGW WenKai", sans-serif;
}

[lang='ja'] {
  font-family: 'Klee One';
  font-weight: 600;
}

.post-content p {
    text-indent: 2em;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}

.post-content b {
    color: white;
}

.post-content blockquote p {
    margin:.5em 0;
    text-indent: 0;
    display: block;
}

.post-content th, td, tr {
    border: 1pt solid;
    border-color: #afbac4;
    padding: 2pt;
}

/* 
 * 放置于这里的CSS将应用于所有皮肤
 * 萌娘百科仅开放Vector皮肤
 * 请尊重萌娘百科版权，以下代码除非注明均是管理员手敲出来的！！！复制需要注明源自萌娘百科，并且附上URL地址http://zh.moegirl.org/MediaWiki:Common.css
 * 版权协定：知识共享 署名-非商业性使用-相同方式共享 3.0
 * 复制之后请把图片换成自己网站上URL地址！
 */

.heimu, .heimu a, a .heimu, .heimu a.new {
    background-color: #252525;
    color: #252525;
    text-shadow: none;
}
.heimu:hover, .heimu:active,
.heimu:hover .heimu, .heimu:active .heimu {
    color: white !important;
}
.heimu:hover a, a:hover .heimu,
.heimu:active a, a:active .heimu {
    color: lightblue !important;
}
.heimu:hover .new, .heimu .new:hover, .new:hover .heimu,
.heimu:active .new, .heimu .new:active, .new:active .heimu {
    color: #BA0000 !important;
}

/*阅读更多：https://zh.moegirl.org/MediaWiki:Mobile.css 本文引自萌娘百科(https://zh.moegirl.org)，文字内容默认使用《知识共享 署名-非商业性使用-相同方式共享 3.0》协议。*/